---
import darkCorrect from "../assets/correct/dark.png";
import lightCorrect from "../assets/correct/light.png";
import darkResult from "../assets/examples/dark-result.png";
import darkExample from "../assets/examples/dark.png";
import lightResult from "../assets/examples/light-result.png";
import lightExample from "../assets/examples/light.png";
import LightDarkPicture from "./LightDarkPicture.astro";
---

<div class="description">
  <h2>What does this tool do?</h2>
  <p>
    This tool reveals the poorly censored blacked out text hidden with
    transparent brush tools like the highlighter tool in iPhone's Markup
    feature.
  </p>

  <div class="side-by-side">
    <LightDarkPicture
      lightSrc={lightExample}
      darkSrc={darkExample}
      type="image/png"
      alt="Example of a screenshot with blacked out text"
    />
     ➡️
    <LightDarkPicture
      lightSrc={lightResult}
      darkSrc={darkResult}
      type="image/png"
      alt="Example of a screenshot with blacked out text revealed"
    />
  </div>

  <h2>How do I censor text properly?</h2>
  <p>Use the pen tool instead.</p>
  <div class="side-by-side">
    <LightDarkPicture
      lightSrc={lightCorrect}
      darkSrc={darkCorrect}
      type="image/png"
      alt="A screenshot of the markup tool with the pen tool selected and highlighted"
      class="small"
    />
  </div>
  <p>
    Or use <a
      href="https://everestpipkin.github.io/image-scrubber/"
      target="_blank"
      rel="noopener noreferrer">Image Scrubber</a
    >.
  </p>

  <h2>Why did you make this?</h2>
  <p>
    My goal is to raise awareness and help people avoid using ineffective
    methods for censoring sensitive information. It’s not meant to uncover
    secrets, but to encourage better privacy practices. Anyone could do this
    with basic photo editing software—this tool just makes it obvious.
  </p>
</div>

<style>
  div.description {
    padding: 20px;

    max-width: 500px;
    margin: auto;
  }

  div.side-by-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  img {
    width: 100%;
    height: auto;
  }

  picture.small {
    width: 50%;
    height: auto;
  }
</style>
